<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Innafor</name>
    <description>
        En applikasjon utviklet av studenter ved Universitetet i Agder for fotballklubben Jerv og Blå Kors Kristiansand.
    </description>
    <author email="post@innaforapp.no" href="https://innaforapp.no">
        Innafor
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <access origin="http://snakkommobbing.no" />
    <allow-navigation href="*://*snakkommobbing.com" />
    <allow-navigation href="*://login.edialog24.com/chattemplate/SnakkOmMobbing_Main/index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <splash density="land-hdpi" src="res/screen/android/screen-hdpi-landscape.png" />
        <splash density="land-ldpi" src="res/screen/android/screen-ldpi-landscape.png" />
        <splash density="land-mdpi" src="res/screen/android/screen-mdpi-landscape.png" />
        <splash density="land-xhdpi" src="res/screen/android/screen-xhdpi-landscape.png" />
        <splash density="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
        <splash density="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
        <splash density="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
        <splash density="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
        <icon density="ldpi" src="./res/icon/android/ldpi.png" />
        <icon density="mdpi" src="./res/icon/android/mdpi.png" />
        <icon density="hdpi" src="./res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="./res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="./res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="./res/icon/android/xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="180" src="./res/icon/ios/icon-180.png" width="180" />
        <icon height="60" src="./res/icon/ios/icon-60.png" width="60" />
        <icon height="120" src="./res/icon/ios/icon-120.png" width="120" />
        <icon height="76" src="./res/icon/ios/icon-76.png" width="76" />
        <icon height="152" src="./res/icon/ios/icon-152.png" width="152" />
        <icon height="40" src="./res/icon/ios/icon-40.png" width="40" />
        <icon height="80" src="./res/icon/ios/icon-80.png" width="80" />
        <icon height="57" src="./res/icon/ios/icon-57.png" width="57" />
        <icon height="114" src="./res/icon/ios/icon-114.png" width="114" />
        <icon height="72" src="./res/icon/ios/icon-72.png" width="72" />
        <icon height="144" src="./res/icon/ios/icon-144.png" width="144" />
        <icon height="167" src="./res/icon/ios/icon-167.png" width="167" />
        <icon height="29" src="./res/icon/ios/icon-29.png" width="29" />
        <icon height="58" src="./res/icon/ios/icon-58.png" width="58" />
        <icon height="50" src="./res/icon/ios/icon-50.png" width="50" />
        <icon height="100" src="./res/icon/ios/icon-100.png" width="100" />
        <icon height="167" src="./res/icon/ios/icon-167.png" width="167" />
        <splash src="./res/screen/ios/Default@2x~universal~anyany.png" />
    </platform>
    <platform name="browser">
        <preference name="SplashScreen" value="/res/screen/browser/splashscreen.png" />
        <preference name="SplashScreenWidth" value="2732" />
        <preference name="SplashScreenHeight" value="2732" />
    </platform>
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarStyle" value="darktranslucent" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <engine name="android" spec="^7.1.4" />
    <engine name="browser" spec="^5.0.4" />
</widget>
