:root {
    --f7-theme-color: #FE5554;
    --f7-theme-color-rgb: 254, 85, 84;
    --f7-theme-color-shade: #ad403f;
    --f7-theme-color-tint: #ff8989;
    --f7-safe-area-left: 0px;
    --f7-safe-area-right: 0px;
    --f7-safe-area-top: 25px;
    --f7-safe-area-bottom: 0px;
    --f7-safe-area-outer-left: 0px;
    --f7-safe-area-outer-right: 0px;
    --f7-device-pixel-ratio: 1;

    /* FAB */
    --f7-fab-text-color: #fff;
    --f7-fab-extended-text-font-size: 20px;
    --f7-fab-extended-text-padding: 0 25px;
    --f7-fab-label-bg-color: #fff;
    --f7-fab-label-text-color: #222;
    --f7-fab-label-border-radius: 2px;
    --f7-fab-label-padding: 4px 8px;
    --f7-fab-button-size: 70px;
    
}