@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i');

* {
    font-family:'Open Sans', sans-serif;
}

.colorBg {
    background-color: #47bcc2;
}

.lightBg {
    background-color: #e6feff;
}

.lightImageBg {
    background-size: cover;
    background-position: center;
    background-color: #e6feff;
    background-image: url('../img/soccer_beach_s.jpg');
    background-blend-mode: multiply;    
}



.darkBg {
    background-color: #222222;
    color: #e6feff;
}

.imageBg {
    background-size: cover;
    background-color: #222222;
    background-image: url('../img/soccerfield_bokeh_s.jpg');
}

.imageBg2 {
    background-size: cover;
    background-position: center;
    background-color: #222222;
    background-image: url('../img/soccer_friendship_s.jpg');
}

.logo-large {
    display: block;
    margin: auto;
    height: 60vw;
    max-height: 250px;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.logo-medium {
    display: block;
    margin: auto;
    height: 45vw;
    max-height: 187.5px;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.logo-small {
    display: block;
    margin: auto;
    height: 30vw;
    max-height: 125px;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.logo-xsmall {
    display: block;
    margin: auto;
    height: 15vw;
    max-height: 100px;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.container {
    width: 100vw;
    overflow: auto;
}

.toolbar-safety-area {
    padding-top: 50px;
}

.text-container {
    box-sizing: border-box;
    padding: 30px;
}

.full-page {
    width: 100vw;
    height: 100vh;
}

/* ----------------
------- FAB -------
---------------- */
.fab-icon {
    font-size: 30px;
}

.fab-label {
    font-size: 15px;
}

.fab {
    width: 100vw;
    position: fixed;
    margin: auto;
    margin-bottom: 50px;   
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

/* ----------------
----- IFRAME ------
---------------- */

.iframe-container {
    position: relative;
    padding-top: 150%;
}

.iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    border: 0;
}

/* ----------------
----- TABBAR ------
---------------- */

.toolbar {
    height: 55px;
}